<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dianshang.demo">

    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        tools:overrideLibrary="com.github.czy1121.loadinglayout"/>

    <application
        android:name="com.dianshang.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="电商首页demo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dianshang.demo.activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dianshang.demo.activity.SecondLevelActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>